.navbar {
  background-color: rgba(197, 197, 197, 0.652);
  margin: 1.25rem 7rem; /* mx-28 mt-5 */
  padding: 1rem; /* p-4 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 4rem; /* space-x-16 */
  font-weight: bold;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
}

.navbar-link:hover {
  color: gray; /* hover:text-gray-700 */
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navbar {
    margin: 0;
    padding: 1rem; /* p-4 */
    justify-content: start;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* space-y-4 */
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1rem; /* p-4 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}

/* Overlay style to cover the entire screen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 999; /* Ensure it is on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the close button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
  background-color: #f0f0f0;
}


